@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: black;
  color: white;
}
.card{
  background-color: rgb(19,19,19);
}
.header{
  background-color: #16161b;
}
.required_field::after{
  content: "*";
  color: red;
  margin-left: 3px;
}
.logout{
  margin-left: 70rem;
}